/* Write your style here */

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

p{
font-size: 10px;

}

img{
    width:200px;
    height: 200px;
}


